<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <!--  This writes the log information to the console window.  -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newlineExtra Info: %property{testProperty}%newline%exception" />
      </layout>
      <!--[AKN] Disabling all filters, allowing every message to log without any filtering.-->
      <!--<filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>-->
    </appender>
    <!-- File Appender to store logs in text file.  -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs//Log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception" />
      </layout>
      <!--[AKN] Disabling all filters, allowing every message to log without any filtering.-->
      <!--<filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="test" />
      </filter>-->
      <!--<filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="error" />
      </filter>-->
      <!--<filter type="log4net.Filter.DenyAllFilter" />-->
    </appender>
    
    <root>
      <!--[AKN] Setting log level to ALL to allow all messages to get logged. Was earlier info.-->
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
      <!--<appender-ref ref="ConsoleAppender" />-->
    </root>

    <!--[AKN] This logger will serve for the entire app. Where individual loggers are required, they will created separately.-->
    <logger name="EMCS_ALL"  additivity="false">
      <level value="DEBUG" />
      <!--[AKN] Setting to Appender to RollingFileAppender to log to file. Was earlier set to ConsoleAppender, hence not generating file output.-->
      <appender-ref ref="RollingFileAppender" />
    </logger>
  </log4net>

</configuration>